{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css') }}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
{{ container() }}
    <main>
        <div class="row">
            {% for message in get_flashed_messages() %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title green-text text-darken-3">Success</span>
                        <p class="green-text text-darken-3"> {{ message }} </p>
                    </div>
                </div>
            {% endfor %}
            <div class="col s12 m12">
                <div class="card">
                  <div class="card-content black-text">
                    <span class="black-text card-title">Add a Bookmark</span>
                      <form action="" method='POST'>
                        <div class="input-field col s12">
                          {{ form.link(class_='validate') }}
                          {{ form.link.label }}
                           {% for error in form.link.errors %}
                            <p class="red-text">{{ error }}</p> <br>
                          {% endfor %}
                        </div>
                        <div class="input-field col s12">
                          {{ form.submit(class_='btn btn-default') }}
                          {{ form.csrf_token }}
                          <p><br></p>
                          <a href="{{ url_for('main.add_bookmark_manually', error=0) }}" id="btnCreateAccount">Add manually</a>
                          <p><br></p>
                        </div>
                      </form>
                  </div>
                </div>
            </div>
        </div>
    </main>
{{ enddiv() }}
{% endblock %}
